absl-py
aiohttp
aiosignal
altair
annotated-types
anyio
asgiref
astunparse
async-timeout
attrs
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
contourpy
cvzone
cycler
dataclasses-json
distro
Django
exceptiongroup
faiss-cpu
filelock
Flask
Flask-SQLAlchemy
Flask-WTF
flatbuffers
fonttools
frozenlist
fsspec
gast
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-auth
google-auth-oauthlib
google-generativeai
google-pasta
googleapis-common-protos
greenlet
grpcio
grpcio-status
h11
h5py
httpcore
httpx
idna
importlib-metadata
itsdangerous
Jinja2
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
keras
kiwisolver
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-openai
langchain-text-splitters
langsmith
libclang
Markdown
markdown-it-py
MarkupSafe
marshmallow
matplotlib
mdurl
mediapipe
ml-dtypes
mpmath
multidict
mypy-extensions
networkx
numpy
oauthlib
openai
opencv-contrib-python
opencv-python
opt-einsum
optional-django
orjson
packaging
pandas
Pillow
proto-plus
protobuf
pyarrow
pyasn1
pyasn1-modules
pycparser
pydantic
pydantic_core
pydeck
Pygments
PyMySQL
pyparsing
pypdf
PyPDF2
pypng
python-dateutil
python-dotenv
pytz
PyYAML
qrcode
react
referencing
regex
requests
requests-oauthlib
rich
rpds-py
rsa
six
smmap
sniffio
sounddevice
SQLAlchemy
sqlparse
streamlit
sympy
tenacity
tensorboard
tensorboard-data-server
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
tiktoken
tk
toml
toolz
torch
tornado
tqdm
typing-inspect
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
Werkzeug
wrapt
WTForms
yarl
zipp
